@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

#advancedModeBody{
    /* font-family: 'Inconsolata', monospace !important; */
    background: #161616 !important;
}

.advancedTextField{
    width: 100%;
}

.advancedTextField .MuiInputBase-input{
    color: rgb(240, 240, 240) !important;
}

.advancedTextField .MuiFormLabel-root{
    color: #DEC401;
}

.advancedTextField .MuiOutlinedInput-notchedOutline{
    border-color: #DEC401 !important;
}

.advancedTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #DEC401;
}

.advancedTextField .MuiFormLabel-root.Mui-focused{
    color: #DEC401;
}

