#homeTargetFieldWrapper{
    margin-top: 25px !important;
}

#homeTargetField{
    width: 100% !important;
}

#settingDialog{
    text-align: center;
}

#advancedModeInput .MuiInputBase-input{
    color: rgb(240, 240, 240) !important;
}

#advancedModeInput .MuiFormLabel-root{
    color: #DEC401;
}

#advancedModeInput .MuiOutlinedInput-notchedOutline{
    border-color: #DEC401 !important;
}

#advancedModeInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #DEC401;
}

#advancedModeInput .MuiFormLabel-root.Mui-focused{
    color: #DEC401;
}

iframe{
    display: none;
    background: 'black' !important;
}

#homeSettingNSETable{
    width: 100%;
    text-align: center;
}

#homeSettingNSETable tr{
    width: 100%;
}

#homeSettingNSETable td{
    width: 50%;
}

#homeSettingNSETable div{
    text-align: left;
}