#scanBtn{
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: #4050B5;
  border-radius: 5px;
  padding: 8px 8px;
  margin-top: 2px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#scanBtn:hover{
  background: #F7F7FB;
}

#scanBtnDisabled{
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: #BCBCBC;
  border-radius: 5px;
  padding: 8px 8px;
  margin-top: 2px;
  font-size: 15px;
  cursor: not-allowed;
  transition: all 0.1s ease-in-out;
}